{% extends "base.html" %}
{% block title %}Security Assessment{% endblock %}
{% block page_title %}Security Assessment{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" src="{{ url_for('static', filename='assessment/style.css') }}?xxx{{ random_token }}" />
{% endblock %}
{% block content %}
  {% set tabs = ['Resources', 'Subscriptions', 'Locks', 'Tags', 'Storages'] %}
    <div class="row">
      <div class="col-3">
        {% include 'assessment/options.html' %}
      </div>
      <div class="col-9">
        <ul class="nav nav-tabs" id="tabLinks">
          {% for tab in tabs %}
            <li class="nav-item">
              <a class="nav-link {% if tab == 'Resources' %}active{% else %}disabled{% endif %}" href="#" data-target="#tab{{ tab }}">
                {{ tab }}
                <span class="badge bg-light text-secondary d-none">0</span>
              </a>
            </li>
          {% endfor %}
        </ul>
        <p>&nbsp;</p>
        {% for tab in tabs %}
          <div class="tabContent{% if tab != 'Resources' %} d-none{% endif %}" id="tab{{ tab }}">
            {% include 'assessment/' + tab|lower + '.html' %}
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
{% block footer %}
  {{ super() }}
  {% set scripts = ['data', 'resources', 'subscriptions', 'locks', 'tags', 'storages', 'ajax', 'datatable', 'storage', 'ui', 'util', 'init'] %}
  {% for script in scripts %}
    <script src="{{ url_for('static', filename='assessment/'+script+'.js') }}?xxx{{ random_token }}"></script>
  {% endfor %}
{% endblock %}