<h2>
  Storages
  <button class="btn btn-sm btn-secondary float-end" id="btnExportStorages">Export to CSV</button>
</h2>

<table class="table" id="tableStorages">
  <thead>
    <tr>
      <th>Storage Name</th>
      <th>Kind</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div class="d-none">
  <table class="table table-sm" id="tableStoragesFull">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Kind</th>
        <th>Location</th>
        <th>SKU</th>
        <th>Tags</th>
        <th>Key Creation Time</th>
        <th>Private Endpoint Connections</th>
        <th>Minimum TLS Version</th>
        <th>Allow BLOB Public Access</th>
        <th>Network ACLS - Bypass</th>
        <th>Network ACLS - Virtual Network Rules</th>
        <th>Network ACLS - IP Rules</th>
        <th>Network ACLS - Default Action</th>
        <th>Support HTTPS Traffic Only</th>
        <th>Encryption Services</th>
        <th>Encryption Key Source</th>
        <th>Access Tier</th>
        <th>Provisioning State</th>
        <th>Creation Time</th>
        <th>Primary Endpoint - DFS</th>
        <th>Primary Endpoint - Web</th>
        <th>Primary Endpoint - Blob</th>
        <th>Primary Endpoint - Queue</th>
        <th>Primary Endpoint - Table</th>
        <th>Primary Endpoint - File</th>
        <th>Primary Location</th>
        <th>Status of Primary</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<div id="storageInfo" class="rowDetails d-none">
  <h3>
    Storage Info: <span id="nameStorages"></span>
  </h3>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">Properties</div>
          <ul class="list-group list-group-flush" id="listStorageProperties"></ul>
        </div>
        <br />
        <div class="card">
          <div class="card-header">Encryption Services</div>
          <ul class="list-group list-group-flush" id="listStorageEncryptionServices"></ul>
        </div>
        <br />
        <div class="card">
          <div class="card-header">Key Creation Time</div>
          <ul class="list-group list-group-flush" id="listStorageKeyCreation"></ul>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">Tags</div>
          <ul class="list-group list-group-flush" id="listStorageTags"></ul>
        </div>
        <br />
        <div class="card">
          <div class="card-header">Primary Endpoints</div>
          <ul class="list-group list-group-flush" id="listStoragePrimaryEndpoints"></ul>
        </div>
        <br />
        <div class="card">
          <div class="card-header">Private Endpoints</div>
          <ul class="list-group list-group-flush" id="listStoragePrivateEndpoints"></ul>
        </div>
        <br />
        <div class="card">
          <div class="card-header">Network ACLs</div>
          <ul class="list-group list-group-flush" id="listStorageNetworkACLs"></ul>
        </div>
      </div>
    </div>
  </div>
</div>