body {
    background-color: #F6F6FA !important;
    color: #2E2E38;
}
body, .form-control, .btn {
    font-family:  "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
}

.dataTable-top {
    padding:  8px 0 !important;
}

.list-group-item {
    color: inherit !important;
    background-color: inherit !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight:  bold !important;
}

.dataTable-wrapper.no-footer .dataTable-container {
    border-bottom: none !important;
}

#logo {
    height: 85px;
    flex-shrink: 0;
    align-self: center;
    margin: auto 0;
    max-width: 20%;
}

#logo_container {
    display: block;
    height: auto;
    max-height: 65px;
    max-width: 200px;
    width: 100%;
}
#logo_container a {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
#logo_container a img {
    max-width: 100%;
    max-height: 75px;
    visibility: hidden;
    opacity:  0;
}

#header-outer {
    background: white;
    border-bottom: 10px solid #E7E7EA;
}

header.py-3 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;
}

header .nav {
    margin: 30px 0 0 20px;
}
header .nav-link {
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #2E2E38 !important;
}

header .nav-link:hover,
header .nav-link.active {
    background:  none !important;
    text-decoration: underline;
}

.box {
    padding: 24px 20px;
    background: white;
    margin-top: 15px;
}

h1 {
    font-size: 40px;
    line-height:  50px;
}

.card, .card-header, .card-footer, .list-group-item {
    border-color: #FEE500 !important;
    background: none !important;
}
.bg-yellow, .card-header {
    background-color: #FEE500 !important;
}
.card-header {
    font-weight:  bold;
    line-height: 1;
}

.btn, .btn-sm, .btn-primary, .btn-secondary {
    background-color:  #78818C !important;
    border: none !important;
    border-radius: 0 !important;
    color:  white !important;
    padding:  7px 15px;
    line-height: 1;
}

.nav-link {
    color: inherit !important;
}
.nav-link.disabled {
    color:  #aaa !important;
    cursor: not-allowed !important;
}


.dataTable-container {
    overflow-x: auto !important;
}

#options .list-group-item .list-group-item {
    border:  0 !important;
    padding:  0 0 0 20px !important;
    font-size:  12px;
}

.card-header .btn,
.card-header .btn-sm {
    background: white !important;
    color: black !important;
    font-size: 12px !important;
    line-height: 12px !important;
    padding: 10px !important;
    margin: 0 !important;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}