{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_title %}Hockers{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="path-header px-3 py-3 pt-md-1 pb-md-1 mx-auto text-center">
      <h1 class="display-3">Welcome</h1>
      <p class="lead">
        Please select one of the options below.
      </p>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
        <div class="card-header text-center">
          <h4 class="my-0 font-weight-normal">Script Generator</h4>
        </div>
          <div class="card-body text-center">
            <h5 class="card-title">Script-Based</h5>
            <p class="card-text">This option allows you to generate customized scripts by choosing which to include and preview it before downloading them as ps1 files.</p>
            <a href="/scripts" class="btn btn-outline-primary btn-lg btn-block">Click Here</a>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card">
          <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal">Security Assessment</h4>
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">API-Based</h5>
              <p class="card-text">This option uses RESTful API to assess your configuration and gives you the ability to download the information in a csv file format.</p>
              <a href="/assessment" class="btn btn-outline-primary btn-lg btn-block">Click Here</a>
            </div>
          </div>
          </div>
      </div>
    </div>
{% endblock %}