{% extends "base.html" %}
{% block title %}Script Generator{% endblock %}
{% block page_title %}Script Generator{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
  <!-- <script src="../static/FileSaver.js"></script> -->
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card bg-light" id="options">
          <div class="card-header">Options</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
               
                <div class="form-check">
                <input type="checkbox" name  ="sample" class="selectall form-check-input myCheckBox" id="check_all"/> Select All 
              </div>

              <div class = "form-check" id="checkboxlist">   
    
                <div class="form-check">
                  <input class="form-check-input myCheckBox" type="checkbox" name="checkbox" id="check_aks" value="aks">
                  <label class="form-check-label" for="check_resources">AKS</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input myCheckBox" type="checkbox" name="checkbox" id="check_resources" value="resources">
                  <label class="form-check-label" for="check_resources">Resources</label>
                </div>
              
                
                <div class="form-check">
                  <input class="form-check-input myCheckBox" type="checkbox" name="checkbox" id="check_subscriptions" value="subscriptions">
                  <label class="form-check-label" for="check_subscriptions">Subscriptions</label>
                </div>
              
                
                <div class="form-check">
                  <input class="form-check-input myCheckBox" type="checkbox" name="checkbox" id="check_locks" value="locks">
                  <label class="form-check-label" for="check_locks">Locks</label>
                </div>
              
                
                <div class="form-check">
                  <input class="form-check-input myCheckBox" type="checkbox" name="checkbox" id="check_tags" value="tags">
                  <label class="form-check-label" for="check_tags">Tags</label>
                </div>
              
                
                <div class="form-check">
                  <input class="form-check-input myCheckBox" type="checkbox" name="checkbox" id="check_storages" value="storages">
                  <label class="form-check-label" for="check_storages">Storages</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input myCheckBox" type="checkbox" name="checkbox" id="check_keyvault" value="keyvault">
                  <label class="form-check-label" for="check_storages">Key Vaults</label>
                </div>
              </div>
              
            </li>
            
            <li class="list-group-item">
              <button type="button" class="btn btn-warning mb-2" id="btnStart" onclick="generate(); clickFunc()">Start</button>
              <button type="button" class="btn btn-warning mb-2" id="btnReset" onclick="resetPage()">Reset</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-9">
        <textarea readonly id = "text-val" cols="125" rows="18"></textarea>
        <button type = "button" class = "btn btn-warning" id = "save-btn">Download PS1 File</button>
      </div>
    </div>
  </div>

 <!--<script>
    document.getElementById("save-btn").addEventListener("click", function(){
      //Generate download of file
      var text = document.getElementById("text-val").value;
      //Create new blob with content
      var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
      saveAs(blob, "azure_script.ps1");
    }, false);

    function toggle(source){
      checkboxes = document.getElementsByName('foo');
      for(var i = 0, n=checkboxes.length;i<n;i++){
        checkboxes[i].checked = source.checked;
      }
    }
    $('.selectall').on('change', function(e) {
    var $inputs = $('#checkboxlist input[type=checkbox]');
    if(e.originalEvent === undefined) {
        var allChecked = true;
        $inputs.each(function(){
            allChecked = allChecked && this.checked;
        });
        this.checked = allChecked;
    } else {
        $inputs.prop('checked', this.checked);
    }
});

$('#checkboxlist input[type=checkbox]').on('change', function(){
    $('.selectall').trigger('change');
});
  </script>-->
{% endblock %}
{% block footer %}
  {{ super() }}
    <script src="{{ url_for('static', filename='jquery.js') }}?xxx{{ random_token }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}?xxx{{ random_token }}"></script>
    <script src="{{ url_for('static', filename='FileSaver.js') }}?xxx{{ random_token }}"></script>
{% endblock %}