{% extends 'base.html' %}
{% block title_block %}Edit Profile{% endblock %}
{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Profile</h1>
    </div>

    {% from "_formhelpers.html" import render_field_errors %}
    <form class="user" method="POST" action="">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-xl-2 col-md-4">
                <p><button type="submit" class="btn btn-primary">Save Changes</button></p>
                <p><a class="btn btn-secondary" href="/profile/{{user.id}}">Cancel</a></p>
            </div>
            <div class="col-xl-6 col-md-8">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Edit Profile</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.name(class="form-control form-control-user",placeholder="Enter Name...") }}
                        </div>
                        <div class="form-group">
                            {{ form.email(class="form-control form-control-user",placeholder="Enter Email Address...") }}
                        </div>
                        <div class="form-group">
                            {{ form.phone(class="form-control form-control-user",placeholder="Enter Phone Number...") }}
                        </div>
                        <div class="form-group">
                            {{ form.address(class="form-control form-control-user",placeholder="Enter Address...") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
{% endblock %}
                