{% extends 'base.html' %}
{% block title_block %}Youtube{% endblock %}
{% block content %}

    {% include 'flash_messages.html' %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Youtube</h1>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Title 1
                    <div class="text-black-50 small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis dolor ornare molestie auctor. Fusce vestibulum turpis nec pretium suscipit. </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
                